h1 {
  font-family: "Exo", sans-serif;
  color: aliceblue;
  background-color: rgba(96, 139, 177, 0.6);
  margin-right: 400px;
  margin-left: 400px;
}
p {
  font-family: "Exo", sans-serif;
  color: aliceblue;
}

h3 {
  font-family: "Exo", sans-serif;
  color: aliceblue;
}

h4 {
  font-family: "Exo", sans-serif;
  color: aliceblue;
}

.viewport-main {
  position: relative;
  text-align: center;
}
#selfStyle {
  width: 600px;
  height: 500px;
}

.cardStyle {
  margin-right: 80px;
  margin-left: 80px;
  background-color: aliceblue;
}

#slideshow {
  margin-left: 350px;
  margin-right: 350px;
}

#cardColor {
  background-color: rgb(135, 195, 248, 0.6);
  margin-left: 500px;
  margin-right: 500px;
}
