h1 {
  font-family: "Exo", sans-serif;
  background-color: rgba(255, 255, 255, 0.603);
  display: block;
}
.viewport-main {
  position: relative;
  text-align: center;
}
#selfStyle {
  width: 600px;
  height: 500px;
}

.cardStyle {
  margin-right: 80px;
  margin-left: 80px;
}
