h1 {
  font-family: "Exo", sans-serif;
  color: aliceblue;
  text-align: center;
  background-color: rgba(56, 113, 163, 0.6);
  width: 50%;
}
p {
  font-family: "Exo", sans-serif;
  color: aliceblue;
  text-align: center;
}

h3 {
  font-family: "Exo", sans-serif;
  color: aliceblue;
  text-align: center;
}

h4 {
  font-family: "Exo", sans-serif;
  color: aliceblue;
  text-align: center;
}

#selfStyle {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 480px;
  height: 500px;
}

.cardStyle {
  background-color: aliceblue;
}

#slideshow {
  width: 70%;
}

#cardColor {
  background-color: rgb(135, 195, 248, 0.6);
  width: 60%;
}
