#introButton {
  display: none;
}

#BGvideo {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

/* .viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */
#js-progressbar {
  width: 700px;
}

#introText {
  color: white;
}

/* @media only screen and (max-width: 700px) {
  h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
} */

@media (min-aspect-ratio: 16/9) {
  #BGvideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #BGvideo {
    width: auto;
    height: 100%;
  }
}
