#selfStyle {
  max-width: 200px;
  max-height: 500px;
}
#introButton {
  display: none;
}

#BGvideo {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#js-progressbar {
  width: 700px;
}

#introText {
  color: white;
  display: none;
}
